/* from w3schools*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: midnightblue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: black;
    color: white;
}
/* Table from w3schools.com */
